<form class="container2">
  <div class="bd1">
       <div class="form-group">
      <label for="exampleFormControlInput1">ID</label>
      <input type="email" class="form-control" id="idname" placeholder="Id 입력">
    </div>
     <div class="form-group">
      <label for="exampleFormControlInput1">email</label>
      <input type="email" class="form-control" id="idname" placeholder="Id 입력">
    </div>
     <div class="form-group">
      <label for="exampleFormControlInput1">name</label>
      <input type="email" class="form-control" id="idname" placeholder="Id 입력">
    </div>
        <div class="form-group">
      <label for="exampleFormControlSelect1">PASSWORD</label>
      <input type="email" class="form-control" id="Password" placeholder="password 입력">
    </div>
        <div class="form-group">
      <label for="exampleFormControlSelect1">PASSWORD</label>
      <input type="email" class="form-control" id="Password" placeholder="password 입력">
    </div>
     <div class="b1">
       <button type="submit" class="btn btn-outline-fill">Sign up</button>
     </div>
 </div>
</form>