  <html lang="en">
<body>
<link rel="stylesheet" type="text/css" href="home.css">
<header>
        <nav class='nav-basic' id="nav-basic">
            <ul>
                <li>
                    <img src="..">
                </li>
                <li>
                    <a href="/">HOME</a>
                </li>
                <li>
                    <a href="/list">STORE</a>
                </li>
                <li>
                    <a href="/notice">NOTICE</a>
                </li>
                <li>
                    <a href="/index">신청하기</a>
                </li>
                
                <li>
                    <a href="#" data-toggle="modal" data-target="#LoginModal">Login</a>
                </li>
                <li>
                    <a href="#">Logout</a>
                </li>
            </ul>
        </nav>
        
          <script>
        const myNav = document.getElementById('nav-basic')
 
        window.onscroll = function () {
            console.log(window.scrollY)
            if (window.scrollY >= 0.1) {
                myNav.className = 'nav-change';
            }
            else {
                myNav.className = 'nav-basic';
            }
        }
    </script>
<div class="container2">
<seticon>

<div id="s2">
<div class="control-group">
    <h3>Checkboxes</h3>
    <label class="control control--checkbox"> checkbox
      <input type="checkbox"/>
      <div class="control__indicator"></div>
    </label>
    <label class="control control--checkbox"> checkbox
      <input type="checkbox"/>
      <div class="control__indicator"></div>
    </label>
    <label class="control control--checkbox"> checkbox
      <input type="checkbox"/>
      <div class="control__indicator"></div>
    </label>
     <label class="control control--checkbox"> checkbox
      <input type="checkbox"/>
      <div class="control__indicator"></div>
    </label>
  </div>
  <div class="control-group">
    <h3>Checkboxes</h3>
    <label class="control control--checkbox"> checkbox
      <input type="checkbox"/>
      <div class="control__indicator"></div>
    </label>
    <label class="control control--checkbox"> checkbox
      <input type="checkbox"/>
      <div class="control__indicator"></div>
    </label>
    <label class="control control--checkbox"> checkbox
      <input type="checkbox"/>
      <div class="control__indicator"></div>
    </label>
     <label class="control control--checkbox"> checkbox
      <input type="checkbox"/>
      <div class="control__indicator"></div>
    </label>
  </div>
  <div class="control-group">
    <h3>Checkboxes</h3>
    <label class="control control--checkbox"> checkbox
      <input type="checkbox"/>
      <div class="control__indicator"></div>
    </label>
    <label class="control control--checkbox"> checkbox
      <input type="checkbox"/>
      <div class="control__indicator"></div>
    </label>
    <label class="control control--checkbox"> checkbox
      <input type="checkbox"/>
      <div class="control__indicator"></div>
    </label>
     <label class="control control--checkbox"> checkbox
      <input type="checkbox"/>
      <div class="control__indicator"></div>
    </label>
  </div>
</div>
 <div class="card bg-light mb-3" style="max-width: 18rem;">
  <div class="card-body">
      <img src="assets/main.png" width="20px">
    <h5 class="card-title">Light card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
</seticon>

</div>
</body>       
</html>