 <link rel="stylesheet" type="text/css" href="post.css">
<div class="container3">
<div class="card text-center">
  <div class="card-header">
   <div class="blue_text">승인완료</div>
  </div>
  <div class="card-body">
    <h5 class="card-title">가맹점</h5>
    <p class="card-text">내용내용내용</p>
  </div>
  <div class="card-footer text-muted">
    2 days ago(날짜날짜)
  </div>
</div>
<div class="card text-center">
  <div class="card-header">
    <div class="red_text">   승인대기중</div>
  </div>
  <div class="card-body">
    <h5 class="card-title">가맹점</h5>
    <p class="card-text">내용내용내용</p>
    <a href="#" class="btn btn-primary">승인하기</a>
  </div>
  <div class="card-footer text-muted">
    2 days ago(날짜날짜)
  </div>
</div>
</div>
 <div class="post_bt2"> <a  class="btn btn-outline-fill" href="/wirte">신청하기</a></div>  