 <link rel="stylesheet" type="text/css" href="post.css">

<form class="container2">
    <div class="bd3">
  <div class="form-group">
    <label for="exampleFormControlInput1">가게이름</label>
    <input type="text" class="form-control" id="exampleFormControlInput1">
  </div>
   <div class="form-group">
    <label for="exampleFormControlSelect1">카테고리</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>한식</option>
      <option>중식</option>
      <option>분식</option>
      <option>제과점</option>
      <option>패스트푸드</option>
         <option>부식</option>
    </select>
  </div>
   <div class="form-group">
    <label for="exampleFormControlInput1">주소</label>
    <input type="text" class="form-control" id="exampleFormControlInput1">
  </div>
   <div class="form-group">
    <label for="exampleFormControlInput1">전화번호</label>
    <input type="text" class="form-control" id="exampleFormControlInput1">
  </div>
  
 <div class="post_bt"><a  class="btn btn-outline-fill" href="/">신청하기</a></div>
</div>
</form>
